/* ``````````````color palette */



:root {
--bg-color-1: #000000;
--bg-color-2: #2e2d2d;
--font: #ff0000;
--accent-1: #8b0000;
--accent-2: #2c0202;
--light: #ffffff;
}



/* ```````````````````CSS resets */

* {
    margin: 0;
    padding: 0;
}

/* ``````````````````````````````````Respecting User font Size Preference */

html {
    font-size: 100%;
}


/* ````````````````````````````````````General CSS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: Anonymous Pro; 
    font-size: 1.15rem;
    text-align: justify;
}

@media (max-width: 700px) {
    body {
        font-size: 1rem;
    }
}

header {
    color: var(--font);
    padding: 3rem 4rem;
    margin-bottom: 3rem ;
    background-color: var(--bg-color-1);
    border-bottom: var(--bg-color-1) 3px solid;
    text-align: center;
}

@media (max-width: 700px) {
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-family: Coda; 
    font-size: 2rem;
    text-decoration:underline;
    text-decoration-style:dotted;
    text-decoration-color: var(--accent-1);
    text-decoration-thickness: .25rem;
}

nav {
    position:absolute;
    right: 1rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--font);
    margin: 0 1rem; 
    transition: background-color .5s ease;
}

nav a:hover {
    background-color: var(--accent-1);
    border-width: .20rem; 
    border-style:groove;
}

@media (max-width: 500px) {
    nav a {
        margin: 0 .25rem;
    }
}


main {
    color: var(--font); 
    margin: 0; 
}

@media (max-width: 850px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem;
    }
}

.about-section {
    text-align: center;
}

.about-section h2 {
    font-family: Coda;
}

.about-section p {
    font-size: 1.15rem;
}

@media (max-width: 700px) {
    .about-section p {
        font-size: 1rem;
    }
}


.about-section, .portfolio-section, .contact-section {
    margin-bottom: 5rem;
}

.about-content, .portfolio-content, .contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.portfolio-content h2 {
    text-align: center;
    font-family: Coda;
    font-size: 2.5rem;
    padding: 1rem;
}

.portfolio-item {
    margin-bottom: 4rem;
    background-color: var(--bg-color-1);
    padding: 4rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px var(--accent-1);
}

@media (max-width: 800px){
    .portfolio-item{
        padding: 3rem;
    }
}

@media (max-width: 650px){
    .portfolio-item{
        padding: 2rem;
    }
}

.portfolio-item p {
    font-size: 1.25rem;
}

@media (max-width: 700px) {
    .portfolio-item p {
        font-size: 1rem;
    }
}


.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-width: .45rem;
    border-radius: .5rem;
    border-color: var(--accent-1);
    border-style:ridge ;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.about-section {
    background-color: var(--accent-1);
}

.portfolio-section {
    background-color: var(--bg-color-2);
}


footer {
    color: var(--font);
    background-color: var(--accent-2);
    padding: 1rem;
}

footer p {
    font-size: 1rem;
}




/* `````````````````````````````````style classes */



.accent-1{
    color: var(--bg-color-1);
}

/* Fonts */
